<div class="container">
    <div class="row">
        <div class="grid_12">
            <div class="box_2">
                <div class="box_3">
                    <h1><%= I18n.t('index.title') %></h1>
                    <h3 class="text_3 color_1">Trending
                        <span class="text_4">Book Reviews</span>
                    </h3>

                    <p>
                        Lorem ipsum dolor sit amet conse ctetur
                        adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat lorem set.
                    </p>

                    <a href="#" class="btn_1 color_4">Read more</a>
                </div>
                <div class="box_3">
                    <h3 class="text_3 color_1">Featured
                        <span class="text_4">Top Picks</span>
                    </h3>

                    <p>
                        Lorem ipsum dolor sit amet conse ctetur
                        adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat lorem set.
                    </p>

                    <a href="#" class="btn_1 color_4">Read more</a>
                </div>
                <div class="box_3">
                    <h3 class="text_3 color_1">Books
                        <span class="text_4">This Month</span>
                    </h3>

                    <p>
                        Lorem ipsum dolor sit amet conse ctetur
                        adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat lorem set.
                    </p>

                    <a href="#" class="btn_1 color_4">Read more</a>
                </div>
            </div>
        </div>
    </div>
</div>