<div class="container">
	<h1>Book Manager</h1>
	<table class="table">
	    <thead class="thead-light">
	      <tr>
	        <th>ID</th>
	        <th>Book name</th>
	        <th>Category</th>
	        <th>Author</th>
	        <th>Description</th>
	        <th><a href="<%= new_admin_book_path %>" type="button" class="btn btn-primary">New <i class="fa fa-plus"></i></a></th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% if @books.any? %>
			      <%= render @books %>
		    <% end %>
	    </tbody>
	</table>
</div>
