<div class="container">
	<h1>Author Manager</h1>
	<table class="table">
	    <thead class="thead-light">
	      <tr>
	        <th>ID</th>
	        <th>Author name</th>
	        <th>Description</th>
	        <th><a href="<%= new_admin_author_path %>" type="button" class="btn btn-primary">New <i class="fa fa-plus"></i></a></th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% if @authors.any? %>
			      <%= render @authors %>
		    <% end %>
	    </tbody>
	</table>
</div>
