<h1>New Author</h1>
<%= form_for [:admin, @author], html: {class: "container-sm"} do |author| %>
	<div class="form-group">
		<%= author.text_field :name, placeholder: "Enter author name", class: "form-control", id: "name" %>
	</div>
	<div class="form-group">
		<%= author.text_area :description, placeholder: "Enter author description", class: "form-control", id: "description" %>
	</div>
	<%= author.submit "Add author", class: "btn btn-primary" %>
<% end %>
