<div class="container">
	<h1>Category Manager</h1>
	<table class="table">
	    <thead class="thead-light">
	      <tr>
	        <th>ID</th>
	        <th>Category</th>
	        <th><a href="<%= new_admin_category_path %>" type="button" class="btn btn-primary">New <i class="fa fa-plus"></i></a>
	        </th>
	      </tr>
	    </thead>
	    <tbody>
	    	<% if @categories.any? %>
	    		<%= render @categories %>
		    <% end %>
	    </tbody>
	</table>
</div>
