@import "bootstrap-sprockets";

html{
	font-size: 1rem;
}

$gray-medium-light: #eaeaea;
/* universal */
section {
	overflow: auto;
}
textarea {
	resize: vertical;
}
.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}
/* typography */
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}
h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}
h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: black;
}
p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */
#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.2em;
	color: white;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

#loginModal{
	color: #000;
}

.navbar .nav {
	display: block;
	float: right;
	left: 0;
	margin: 0 10px 0 0;
	position: relative;
}


.navbar .brand {
	color: #777777;
	display: block;
	float: right;
	font-size: 20px;
	font-weight: 200;
	margin-left: -20px;
	padding: 10px 20px;
	text-shadow: 0 1px 0 #FFFFFF;
}


.navbar .nav > li {
	float: right;
}

/* footer */
footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: black;
	a {
		color: black;
		&:hover {
			color: black;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}

/* sidebar */
aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}
.gravatar {
	float: left;
	margin-right: 10px;
	width: 10%;
}
.gravatar_edit {
	margin-top: 15px;

	@import "bootstrap";
	/* mixins, variables, etc. */
	$gray-medium-light: #eaeaea;
	@mixin box_sizing {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	/* typography */
	h1, h2, h3, h4, h5, h6 {
		line-height: 1;
	}
	h1 {
		font-size: 3em;
		letter-cing: -2px;
		margin-bottom: 30px;
		text-align: center;
	}
	h2 {
		font-size: 1.2em;
		letter-spacing: -1px;
		margin-bottom: 30px;
		text-align: center;
		font-weight: normal;
		color: $gray-light;
	}
	p {
		font-size: 1.1em;
		line-height: 1.7em;
	}

	/* forms */
	input, textarea, select, .uneditable-input {
		border: 1px solid #bbb;
		width: 100%;
		margin-bottom: 15px;
	}
	input {
		height: auto !important;
	}
	#error_explanation {
		color: red;
		ul {
			color: red;
			margin: 0 0 30px 0;
		}

	}

	/*--------------------------------------------------*/
	/*-------------------show book----------------------*/
	/*--------------------------------------------------*/
	.block-image{
		width: 150px;
	}
	border: 1px solid #bbb;
	margin-bottom: 15px;
	@include box_sizing;
}
input {
	height: auto !important;
}
#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}
.field_with_errors {
	@extend .has-error;
	.form-control {
		/*color: $state-danger-text;*/
	}
}
#remember-me{
	width: auto;
	margin-left: 0;
}
#remember-me-text{
	margin-left: 20px;

}


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

.autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#content{
	display: none;
}