<div class="reviewButtonContaine pt-2">
  <div id="ratingNoti" class="toast alert" role="alert">
  </div>
  <ul class="ratingW">
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
  </ul>
</div>
<% if logged_in? %>
  <%=javascript_pack_tag 'rating.js'%>
<% end %>
