<div class="reviewButtonContainer">
  <div id="ratingNoti" class="toast alert" role="alert">
  </div>
  <ul class="ratingW" data-toggle="popover" data-content="Cam on ban da danh gia">
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
    <li><a href="javascript:void(0);"><div class="star"></div></a></li>
  </ul>
</div>
